body {
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    font-family: "Open Sans", Arial, sans-serif;

}

.header {
    height: 85px;
    width: auto;
    padding-top: 18px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.header-left {
    padding-top: 7px;
    width: 556px;
    display: flex;
}

.header-right {
    width: 404px;
    display: block;
}

.marianne {
    margin-right: 24px;
}

.header-top-right {
    width: inherit;
    height: 27px;
    display: flex;
    justify-content: flex-end;
}

.language-selection{
    width: auto;
    height: 1em;
    font-size: 11px;
    font-family: "Open Sans", Arial, sans-serif;
    color: #757575;
    text-decoration: none;
}

.language-selection:hover {
    width: auto;
    height: 1em;
    font-size: 11px;
    font-family: "Open Sans", Arial, sans-serif;
    color: #757575;
    text-decoration: underline;
}

.header-bottom-right {
    display: flex;
    justify-content: space-between;
}

.searchbar_block {
    width: 260px;
    height: 39px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #EFEEEC;
}

.searchbar {

    margin-left: 20px;
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 0.875em;
    background-color: #EFEEEC;
    border: none;


}

.network-icons {

    margin-left: 6px;
    width: 138px;
    height: 45px;
    display: flex;
    justify-content: space-around;

}

.regular-icon {

    width: 36px;
    height: 36px;
    display: inline;
    border-radius: 18px;
    background-color: #757575;

}



.twitter-icon:hover {
    background-color: #43C7F7;

}

.facebook-icon:hover {

    background-color: #4267B2;

}

.instagram-icon:hover {

    background-color: #36455C;

}

.nav {

    height: 70px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.tab {
    width: 160px;
    padding: 5px 25px 5px 50px;
    font-size: 15px;
    text-decoration: none;
    border-right: 1px solid;
    border-right-color: #EFEEEC;
}

.tab-title {

    display: block;
    color: #0B6BA8;
}

.tab-text{
    display: inline-block;
    color: #000000;
}

.actus{

}

.actions {

    margin: 0px 14px;

}

.gouv {

    margin-right:14px;
    padding-left: 55px;

}

.partagez{
    width: 80px;
    border-right: none;
}

.main{
    display: flex;
    justify-content: center;
    background-color: #EFEEEC;
    padding-top: 40px;

}

.content{
    width: 960px;
    background-color: #FFFFFF;
    margin-bottom: 40px;

}

.main-title{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.main-title-text{
    margin: 0 120px 30px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    line-height: 47px;
}

.main-title-separator{
    width: 70px;
    margin: auto;
    border-bottom: 3px solid #202328;
}

.large-button{
    display: flex;
    width: 112px;
    height: 32px;
    padding: 0;
    justify-content: center;
    align-items: center;
    justify-self: end;
    background-color: #757575;
    border-radius: 15px;
    text-decoration: none;


}

.print-button{
    margin: 22px 27px;
}

.regular-logo{
    width: 15px;
    height: 15px;

    filter: invert(100%) sepia(0%) saturate(7476%) hue-rotate(344deg) brightness(110%) contrast(103%);
}

.button-text{
    padding-left: 10px;
    font-size: 12px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.print-button-zone{
    display: flex;
    justify-content: flex-end;
    height: 50px;
}

.main-hook{
    padding: 20px 120px 40px;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 26px;
    line-height: 34px;
}

.share-article{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.share-button{
    margin: 7px;
}

.main-content-separator{
    width: 720px;
    margin: auto;
    padding: 10px 0;
    border-bottom: 1px solid #D1D0DC;
}

.main-text{
    display: flex;
    flex-direction: column;
    padding: 25px 120px 40px;
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 30px;
    color: #7E7D78;
}

.main-text-intro{

}

.main-text-second-title{
    font-family: "Open Sans", Arial, sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 45px 0 35px;
    font-size: 21px;
    line-height: 26px;
}

.br{
    display: block;
    padding-top: 30px;
}

.paragraph-with-image{
    display: inline-flex;
    flex-wrap: nowrap;
}



.core-image{
    width: 353px;
    height: 197px;
    margin:0 30px 5px 0;

}

.paragraph-with-image-text{
    flex-direction: column;
    justify-content: center;
}

.citation{
    display: inline;
    font-style: italic;
}

.regular-text{
    display:inline;
}

.bouncing-area{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 0 30px;
    background-color: #0B6BA8;
}

.bouncing-area-limiter{
    margin: auto;
    width: 70px;
    border-bottom: 1px solid #CCCECF;
}

.bouncing-area-title{
    margin: 20px 0;
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    line-height: 33px;
    font-weight: 200;
}

.heading-news{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.heading-news-article{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 465px;
    margin: 30px 15px 20px;
}

.heading-news-article-image{
    width: 465px;

}

.heading-news-article-text{
    margin-bottom: 10px;
    padding: 30px 40px 25px;
    font-size: 22px;
    line-height: 25px;
    color: #202328;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.heading-news-article-text:hover{
    text-decoration: underline;
}

.bouncing-button {
    display: flex;
    width: 235px;
    height: 44px;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: #052E48;
    border-radius: 22px;
    font-size: 16px;
    font-family: Georgia, serif;
    color: #FFFFFF;
    text-decoration: none;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202328;
    font-family: Georgia, serif;
}

.footer-main-image{
    margin: 25px 0;
}

.footer-main-separator{
    margin-bottom: 15px;
    width: 460px;
    border-top: 1px solid #FFFFFF;
}

.footer-bottom{
    display: flex;
}

.footer-bottom-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
}

.footer-bottom-left-image{
    margin: 15px 0 20px;
}

.dark-grey-text{
    color: #9E9D9A;
}

.footer-slogan{
    margin-bottom: 25px;
}

.footer-creative-commons{
    font-size: 14px;
    margin-bottom: 25px;
    font-style: italic;
    line-height: 24px;
}

.footer-networks{
    display: flex;
    height: 50px;
    margin-bottom: 20px;
}

.big-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #B5B5B5;
}

.big-logo{
    width: 20px;
    height: 20px;
    color: #202328;
}

.light-grey-links{
    padding: 5px 0;
    color: #B5B5B5;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.light-grey-links:hover{
    text-decoration: underline;
}

.footer-bottom-right{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.footer-bottom-right-title{
    width: 630px;
    margin-bottom: 10px;
    padding:16px 0 8px ;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #8D8C89;
    border-bottom: 1px solid #313438;
}